.action-wrapper {
    display: flex;
    justify-content: center;

    .login-btn {
        cursor: pointer;
        background-color: rgb(0, 30, 255);
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        margin: 2em 0;
    }

    .nav-btn {
        cursor: pointer;
        background-color: rgb(42, 194, 28);
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        margin: 2em 0;
        margin-left: 1em;
    }
}