.action-wrapper{
    display: flex;
    justify-content: center;
    .logout-btn{
        cursor: pointer;
        background-color: rgb(255, 0, 0);
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        margin: 2em 0;
    }
    .nav-btn{
        cursor: pointer;
        background-color: rgb(42, 194, 28);
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        margin: 2em 0;
        margin-left: 1em;
    }
}
